
module mypol 1.0;

require {
	type unlabeled_t;
	type iptables_t;
	class file read;
}

#============= iptables_t ==============

#!!!! WARNING: 'unlabeled_t' is a base type.
allow iptables_t unlabeled_t:file read;
