[submodule "nginx/php-fpm"]
	path = nginx/php-fpm
	url = https://github.com/ngineered/nginx-php-fpm.git
[submodule "nginx/lemp-mysql"]
	path = nginx/lemp-mysql
	url = https://github.com/TeckniX/docker-nginx-laravel.git
[submodule "red5"]
	path = red5
	url = https://github.com/Red5/docker.git
[submodule "phpvirtualbox"]
	path = phpvirtualbox
	url = https://github.com/imoore76/phpvirtualbox.git
[submodule "odoo/odoo"]
	path = odoo/odoo
	url = https://github.com/odoo/docker.git
[submodule "nginx/php-dockerized"]
	path = nginx/php-dockerized
	url = https://github.com/kasperisager/php-dockerized.git
[submodule "webdevops"]
	path = webdevops
	url = https://github.com/webdevops/Dockerfile.git
[submodule "apache/phpfarm"]
	path = apache/phpfarm
	url = https://github.com/splitbrain/docker-phpfarm.git
[submodule "nexus"]
	path = nexus
	url = https://github.com/sonatype/docker-nexus.git
[submodule "b2b2c/virtuemart"]
	path = b2b2c/virtuemart
	url = https://github.com/open-tools/docker-virtuemart.git
[submodule "b2b2c/drupal"]
	path = b2b2c/drupal
	url = https://github.com/wadmiraal/docker-drupal.git
[submodule "erp/adempiere"]
	path = erp/adempiere
	url = https://github.com/adempiere/adempiereDocker.git
[submodule "zookeeper/docker-zookeeper"]
	path = zookeeper/docker-zookeeper
	url = https://github.com/jplock/docker-zookeeper.git
[submodule "zookeeper/cluster"]
	path = zookeeper/cluster
	url = https://github.com/lukeolbrish/examples.git
[submodule "log/elk"]
	path = log/elk
	url = https://github.com/northshorenetworks/elk.git
[submodule "log/elk2"]
	path = log/elk2
	url = https://github.com/northshorenetworks/docker-elk-pfSense.git
[submodule "nginx/docker-lemp"]
	path = nginx/docker-lemp
	url = https://github.com/stenote/docker-lemp.git
[submodule "nginx/docker-wordpress-hhvm"]
	path = nginx/docker-wordpress-hhvm
	url = https://github.com/wmark/docker-wordpress-hhvm.git
[submodule "mysql/galera-cluster"]
	path = mysql/galera-cluster
	url = https://github.com/RvdGijp/mariadb-10.1-galera.git
