[submodule "nginx/php-fpm"]
	path = nginx/php-fpm
	url = https://github.com/ngineered/nginx-php-fpm.git
[submodule "nginx/lemp-mysql"]
	path = nginx/lemp-mysql
	url = https://github.com/TeckniX/docker-nginx-laravel.git
[submodule "red5"]
	path = red5
	url = https://github.com/Red5/docker.git
[submodule "phpvirtualbox"]
	path = phpvirtualbox
	url = https://github.com/imoore76/phpvirtualbox.git
[submodule "odoo/odoo"]
	path = odoo/odoo
	url = https://github.com/odoo/docker.git
[submodule "nginx/php-dockerized"]
	path = nginx/php-dockerized
	url = https://github.com/kasperisager/php-dockerized.git
[submodule "webdevops"]
	path = webdevops
	url = https://github.com/webdevops/Dockerfile.git
[submodule "apache/phpfarm"]
	path = apache/phpfarm
	url = https://github.com/splitbrain/docker-phpfarm.git
